body {
  background-color: #ddf3f5;
}

hr {
  border-style: none; /* top | right | bottom | left */
  border-top-style: dotted;
  width: 5%;
  border-width: .3em;
  border-color: grey;
}

h1, h3 {
  color:#66bfbf;
}
